:root {
  --row: 15;
  --col: 17;
}

.snake_game_container {
  width: 75%;
  aspect-ratio: var(--col) / var(--row);
  border: 1px solid;
  padding: 1rem;
}

.snake_game_container__grid {
  display: grid;
  border: 1px solid;
  grid-template: repeat(var(--row), 1fr) / repeat(var(--col), 1fr);
  height: 100%;
}

.snake_game_container__grid-cell-snake {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 212, 19, 0.5);
}

.snake_game_container__grid-cell-snake .highlighted {
  background-color: rgba(19, 212, 19, 0.7);
}

.snake_game_container__grid-cell-snack {
  background-color: rgba(255, 0, 0);
  height: 100%;
}
